*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: antiquewhite;
    height: 100vh;
    display: grid;
    place-items: center;
}

form{
    border: 1px solid rebeccapurple;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* max-width: 150rem; */
    width: 100%;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

button {
    background-color: navy;
    border-radius: 5px;
    width: 12rem;
    color: white;
    align-self: center;
    font: 400 1rem sans-serif;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem; 
}